<div>
    <h3>Excluir Usuário</h3>
</div>
<form class="example-container" [formGroup]="usuarioForm" (ngSubmit)="deleteUsuario()">
    <mat-form-field>
        <input matInput readonly name="nome" placeholder="Nome do Usuário" formControlName="nome">
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput readonly name="cpf" placeholder="CPF do Usuário" formControlName="cpf">
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput readonly name="email" placeholder="Email do Usuário" formControlName="email">
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput readonly name="telefone" placeholder="Telefone do Usuário" formControlName="telefone">
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput readonly name="sexo" placeholder="Sexo do Usuário" formControlName="sexo">
    </mat-form-field>
    <br>

    <mat-form-field>
        <input matInput readonly name="dataNascimento" placeholder="Data de Nascimento do Usuário" formControlName="dataNascimento">
    </mat-form-field>
    <br>

    <button type="submit" mat-button color="primary">Excluir</button>
</form>